
# PARAMÈTRES DU PILOTE (Agent5Mid)
pilot:
  
  # Réglages du cerveau
  brain:
    kp: 8.0  # Puissance du braquage.
    # Augmenter si le kart ne tourne pas assez dans les virages serrés
    # Diminuer si le kart oscille trop violemment gauche/droite
    
    kd: 0.85 # Stabilité.
    # Augmenter si le volant tremble trop en ligne droite
    # Diminuer si la direction semble "molle" ou réagit en retard

  # Navigation et Vision
  navigation:
    lookahead_meters: 9.7   # Distance de visée (en mètres, Le kart regarde ce point pour décider où tourner)
    min_dist_safety: 1      # Distance minimale de sécurité

  # Gestion de la vitesse
  speed_control:
    default_accel: 1.0       # Accélération en ligne droite (0.0 à 1.0)
    cornering_accel: 0.6     # Accélération dans les virages serrés
    steering_threshold: 0.4  # A partir de quel angle de volant considère-t-on qu'on est dans un virage ?
  
  rescue:
    stuck_frames_limit : 5   # Nombre de frames à partir duquel on se dit être bloqué
    active_after_meters : 5  # Distance par rapport au début de la course (5m)
    stuck_speed_limit : 0.5  # Vitesse à partir de laquelle on se dit être bloqué.



# PARAMÈTRES DE LA BANANE (Agent5Banana)
banana:
  detection:
    max_distance: 9.5    # Distance max pour repérer une banane (Anticipation).
    safety_width: 1.5    # Largeur de sécurité latérale.

  avoidance:
    steering_force: 0.9  # Force du coup de volant pour esquiver (0.0 à 1.0).
    acceleration: 0      # accélération pendant l'esquive.